* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header {
    background-color: #077283;


}

.top-header h1 {
    padding: 20px;
    text-align: center;
    color: #EBF4F6;
    letter-spacing: 1.2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background-color: #EBF4F6;
    min-height: 100vh;
    border: 8px solid #077283;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.top-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top-section h1 {

    font-size: 50px;
    font-weight: bolder;
    font-family: serif;
    color: #065b68;

}

.top-section h4 {
    text-align: end;
    font-size: 30px;
    color: #065b68;
}

.image-container img {
    width: 360px;
    height: 450px;
    border: 4px solid #065b68;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0, 0.3);

}

b {
    background-color: #07738333;
    letter-spacing: 2px;
    font-weight: 500;
}

/* ABOUT-SECTION */

.about-section {
    margin-top: 50px;
}

.about-section h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: serif;
    color: #065b68;
}

.about-section p {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* QUOTE SECTION */
.quote-section {
    background-color: #07738333;
    height: 200px;
    border: 4px solid #065b68;
}

.quote-section {
    text-align: center;
    margin-top: 10px;
    padding-top: 60px;
    font-size: 20px;
}

.quote-section p {
    font-weight: 150;
    font-size: 18px;
}

.quote-section span {
    background-color: #065b68;
    color: #EBF4F6;
    padding: 15px;
    font-size: 19px;
    font-weight: bold;
}

/* BIOGRAPHY-SECTION */
.biography-section h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #065b68;
}

.biography-section ul {
    line-height: 33px;
    margin-left: 30px;
    letter-spacing: 1.2px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* FOOTER */
footer {
    margin: 50px 0;
}

footer p {
    text-align: end;
    letter-spacing: 1.2px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}